@{
    ViewData["Title"] = "replay";
    Layout = "~/Views/Shared/_DashpordLayout.cshtml";
}
<h1 style="text-align:center;margin-top:40px;margin-bottom:30px;"><span>S</span>end <span>M</span>essage</h1>
<div style="width:100%;text-align:center;">
    <form method="post" style="margin-bottom:50px;">

        <input type="hidden" name="username" value="@ViewBag.username" />

        <input class="text" type="text" name="message" />
        <br />
        <input class="send" type="submit" value="Reply" />

    </form>
</div>

<style>
    span {
        color: #ffbe33;
    }

    table {
        width: 750px;
        text-align: center;
    }

    td.of {
        color: red;
    }

    td.on {
        color: green;
    }

    form input.text {
        width: 450px;
        border-radius: 7px;
        height: 50px;
        font-size: 20px;
        background-color: silver;
        padding: 5px;
    }

    input.send {
        margin-top: 15px;
        width: 75px;
        height: 50px;
        background-color: #ffbe33;
        color: white;
        border-radius: 7px;
        font-size: 21px;
    }

        input.send:hover {
            background-color: black;
            color: #ffbe33;
        }
</style>