@model StoreNew.Models.FeedbackStore

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>FeedbackStore</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ratingsatars" class="control-label"></label>
                <input asp-for="Ratingsatars" class="form-control" />
                <span asp-validation-for="Ratingsatars" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ratingdetails" class="control-label"></label>
                <input asp-for="Ratingdetails" class="form-control" />
                <span asp-validation-for="Ratingdetails" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Productid" class="control-label"></label>
                <select asp-for="Productid" class ="form-control" asp-items="ViewBag.Productid"></select>
            </div>
            <div class="form-group">
                <label asp-for="Userid" class="control-label"></label>
                <select asp-for="Userid" class ="form-control" asp-items="ViewBag.Userid"></select>
            </div>
            <div class="form-group">
                <label asp-for="Shared" class="control-label"></label>
                <input asp-for="Shared" class="form-control" />
                <span asp-validation-for="Shared" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

